.viewbox {
  width: 804px;
  height: 1236px;
  margin-left: 8px;
  margin-top: 0 auto;
  text-align: center;
  background-color: white;
  border: 2px solid black;
}

.hidden {
  visibility: hidden;
  opacity: 0.0;
  display: none;
}

#banner{
    height: 10%;
    width: 100%;
    position: relative;
    background-color: #007ABA;
    display:inline-block;
}

#logo{
    height: 70%;
    padding: 20px;
    padding-top: 15px;
    left: 0px;
    position: absolute;
    z-index: 7;
}

#titre b{
    font-family: 'Lato Black';
    color: ghostwhite;
    font-family: 'Lato Regular', sans-serif;
    font-size: 40px;
    text-align: center;
    position: inherit;
    display:block;
    text-align:center;
    width: 100%;
    line-height: 20%;
    padding-top: 8%;
    color:ghostwhite;
    font-weight: 900;
}

#page{
    margin:none;
    padding:none;
    position: relative;
    height: 90%;
    width: 100%;
    top: 0%;
    background-color: ghostwhite;
}

.clock{
    margin: 0;
    /*position:relative;
    left: 28%; */
    top: 0%;
    zoom: 0.7;
    -moz-transform: scale(0.7)
}

.date{
    position: relative;
    color: #445880;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
}

.reacted {
  position: absolute;
  width: 100%;
  height: 87%;
  margin-top: 0 auto;
}

.plans {
  position: absolute;
  width: 50%;
  height: 100%;
  text-align: center;
  top: 0%;
  left: 0%;
}

.plan {
  position: relative;
  width: 75%;
  padding-top: 75%;
  text-align: center;
  left: 10%;
}

.plan > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.bottom {
  position: absolute;
  top: 55%;
}

.etageAfficheur {
  background: url(SVGs/floor1.svg);
  background-size: contain;
}

.affichageChemin {
  position: relative;
  height: 60%;
  width: 90%;
  margin-left: 5%;
}

.steps {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0%;
  left: 50%;
}

.step {
  position: absolute;
	width: 100%;
	height: 120px;
	text-align: center;
	display: table;
	font-size: 25px;
  background-color: #CCCCCC;
  border-radius: 16px;
  border: 2px solid black;
}

.step p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#step1 {
  position: relative;
  top: 4%;
}

#step2 {
  position: relative;
  top: 8%;
}

#step3 {
  position: relative;
  top: 12%;
}

#step4 {
  position: relative;
  top: 16%;
}

.event {
  position: absolute;
  width: 690px;
  height: 94px;
}

.horaire {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 98px;
	height: 98px;
	margin-top: -45px;
	margin-left: -45px;
	text-align: center;
	display: table;
	font-size: 18px;
  background-color: #4444FF;
  border-radius: 8px;
}

.horaire p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.intitule {
  position: absolute;
  top: 45px;
  left: 310px;
  width: 422px;
	height: 98px;
	margin-top: -45px;
	margin-left: -200px;
	text-align: center;
	display: table;
	font-size: 18px;
  background-color: #8888FF;
  border-radius: 8px;
}

.intitule p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.salle {
  position: absolute;
  top: 45px;
  left: 745px;
  width: 148px;
	height: 98px;
	margin-top: -45px;
	margin-left: -200px;
	text-align: center;
	display: table;
	font-size: 18px;
  background-color: #4444FF;
  border-radius: 8px;
}

.salle p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.events {
  position: relative;
  top: 5%;
  left: 83px;
  width: 640px;
}

#noChange {
  top: 140px;
}

#top {
  top: 20px;
}

#floor-1 {
  background: url(SVGs/floorm1.svg);
  background-size: contain;
}

#floor0 {
  background: url(SVGs/floor0.svg);
  background-size: contain;
}

#floor1 {
  visibility: hidden;
  background-size: contain;
}

#floor2 {
  background: url(SVGs/floor2.svg);
  background-size: contain;
}

#floor3 {
  background: url(SVGs/floor3.svg);
  background-size: contain;
}

#floor4 {
  background: url(SVGs/floor4.svg);
  background-size: contain;
}

/* --------------- Blocs --------------- */

/* partres[i]: bloc contenant les lignes   i=nombre de lignes */

#partres1{
    position: relative;
    top: 16%;
}

#partres2{
    position: relative;
    top: 7%;
}

#partres3{
    position: relative;
}


/*divres: ligne*/

.divres{
    height: auto;
    margin-bottom: 10px;
    display:table;
}

/* affichage sous forme de tableau pour garder hres et res à la même hauteur*/

.divres > .res , .divres > .hres, .divres > .sres{
    display: table-cell;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border-radius: 8px;
    vertical-align: middle;
    text-align: center;
}

/*Titre de la réunion*/

.res{
    background-color: #E8EBF0;
    width: 56%;
    display: inline-block;
    color: #007ABA;
    position: relative;
    border: solid rgba(210,210,250,0.5);
}

/*Heure de la réunion */

.hres{
    display:inline-block;
    width: 15%;
    background-color: #007ABA;
    color:ghostwhite;
    margin: auto;
    height: inherit;
    border: solid rgba(240,240,250,0.1);
}

.sres{
    display:inline-block;
    width: 29%;
    background-color: #007ABA;
    color:ghostwhite;
    margin: auto;
    height: inherit;
    border: solid rgba(240,240,250,0.1);
}

/*Réunion en cours: style différent*/

.en_cours{
    background-color: lightsteelblue;
}

.isSelected {
  border: 3px solid black;
  border-radius: 12px;
}
