html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.viewbox {
  width: 100%;
  height: 100%;
  /*margin-left: 8px;*/
  text-align: center;
  background-color: white;
  border: 2px solid black;
}

.hidden {
  visibility: hidden;
  opacity: 0.0;
  display: none;
}

#banner{
    height: 10%;
    width: 100%;
    position: relative;
    background-color: #007ABA;
    display:inline-block;
}

#logo{
    height: 70%;
    padding: 20px;
    padding-top: 15px;
    left: 0px;
    position: absolute;
    z-index: 7;
}

#titre b{
    font-family: 'Lato Black';
    color: ghostwhite;
    font-family: 'Lato Regular', sans-serif;
    font-size: 40px;
    text-align: center;
    position: inherit;
    display:block;
    text-align:center;
    width: 100%;
    line-height: 20%;
    padding-top: 8%;
    color:ghostwhite;
    font-weight: 900;
}

#page{
    margin:none;
    padding:none;
    position: relative;
    height: 90%;
    width: 100%;
    top: 0%;
    background-color: ghostwhite;
}

.clock{
    margin: 0;
    /*position:relative;
    left: 28%; */
    top: 0%;
    zoom: 0.7;
    -moz-transform: scale(0.7)
}

.date{
    position: relative;
    color: #445880;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
}

.reacted {
  position: absolute;
  width: 100%;
  height: 87%;
  margin-top: 0 auto;
}

.plans {
  position: absolute;
  width: 50%;
  height: 100%;
  text-align: center;
  top: 0%;
  left: 0%;
}

.plan {
  position: relative;
  width: 75%;
  padding-top: 75%;
  text-align: center;
  left: 10%;
}

.plan > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  transform-origin: top left;
  transform: scale(1);
}

.indicateurEtage {
  position: fixed;
  top: 2%; bottom: 0; left: 5%; right: 0;
  text-align: center;
  padding-top: 5px;
  transform-origin: top left;
  transform: scale(calc(1/0.9));
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #003333;
  background-color: ghostwhite;
  height: 30px;
  width: 90%;
  border-radius: 10px;
  border: 0.5px solid #009999;

}

.bottom {
  position: absolute;
  top: 55%;
}

.etageAfficheur {
  background: url(SVGs/floor1.svg);
  background-size: contain;
}

.affichageChemin {
  position: relative;
  height: 60%;
  width: 90%;
  margin-left: 5%;
}

#directions {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  display: table;
  text-align: center;
}

#directions > span {
  display: table-row;
  font-size: 60px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #007ABA;
}

.steps {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0%;
  left: 50%;
}

.step {
	width: 100%;
	height: 21%;
	text-align: center;
	display: table;
	font-size: 25px;
  background-color: #DCDDEE;
  border-radius: 16px;
  border: 2px solid #9999AA;
  font-family: 'Lato', sans-serif;
}

.step p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #333355;
}

#step1 {
  position: relative;
  top: 4%;
}

#step2 {
  position: relative;
  top: 8%;
}

#step3 {
  position: relative;
  top: 12%;
}

#step4 {
  position: relative;
  top: 16%;
}

.events {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
}

#noChange {
  top: 140px;
}

#top {
  top: 20px;
}

#floor-1 {
  background: url(SVGs/floorm1.svg);
  background-size: contain;
}

#floor0 {
  background: url(SVGs/floor0.svg);
  background-size: contain;
}

#floor1 {
  visibility: hidden;
  background-size: contain;
}

#floor2 {
  background: url(SVGs/floor2.svg);
  background-size: contain;
}

#floor3 {
  background: url(SVGs/floor3.svg);
  background-size: contain;
}

#floor4 {
  background: url(SVGs/floor4.svg);
  background-size: contain;
}

/* --------------- Blocs --------------- */

/* partres[i]: bloc contenant les lignes   i=nombre de lignes */

#partres1{
    position: relative;
    top: 16%;
}

#partres2{
    position: relative;
    top: 7%;
}

#partres3{
    position: relative;
}


/*divres: ligne*/

.divres{
    height: max-content;
    margin-bottom: 10px;
    display:table;
    width: 90%;
}

/* affichage sous forme de tableau pour garder hres et res à la même hauteur*/

.divres > .res , .divres > .hres, .divres > .sres{
    display: table-cell;
    padding: 3%;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    border-radius: 8px;
    vertical-align: middle;
    text-align: center;
}

/*Titre de la réunion*/

.res{
    background-color: #E8EBF0;
    width: 56%;
    display: inline-block;
    color: #007ABA;
    position: relative;
    border: solid rgba(210,210,250,0.5);
}

/*Heure de la réunion */

.hres{
    display:inline-block;
    width: 15%;
    background-color: #007ABA;
    color:ghostwhite;
    margin: auto;
    height: inherit;
    border: solid rgba(240,240,250,0.1);
}

.sres{
    display:inline-block;
    width: 29%;
    background-color: #007ABA;
    color:ghostwhite;
    margin: auto;
    height: inherit;
    border: solid rgba(240,240,250,0.1);
}

/*Réunion en cours: style différent*/

.en_cours{
    background-color: lightsteelblue;
}

.isSelected {
  border: 3px solid #444477;
  border-radius: 12px;
}

@keyframes draw_in1 {
  0% {
    stroke-dashoffset: 100%;
  }
  50%{
    stroke-dashoffset: 0%;
  }
}

@keyframes draw_in2 {
  0% {
    stroke-dashoffset: 100%;
  }
  50% {
    stroke-dashoffset: 100%;
  }
  100% {
    stroke-dashoffset: 0%;
  }
}

.chemin {
  border: 2px solid black;
}

.chemin .topPath {
  animation-iteration-count: infinite;
  stroke-dasharray: 100%;
  animation-name: draw_in1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.chemin .botPath {
  animation-iteration-count: infinite;
  stroke-dasharray: 100%;
  animation-name: draw_in2;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.centeredWraper {
  position: absolute;
  width: 80%;
  height: auto;
  margin-top: -5%;
  top: 45%;
  left: 50%;
  margin-left: -40%;
}

#noEvent {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  color: #007ABA;
  top: -50%;
}
